@(implicit request: RequestHeader)

@main("Welcome to Countdown Clock") {

<h1>Web Socket Clock</h1>

<h1 id="clock"></h1>

<p>
    Clock events are pushed from the Server using a websocket connection.
</p>

<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">

        $(function() {

            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var clockSocket = new WS("@routes.CountdownClock.socketClock().webSocketURL()")

            var sendMessage = function() {
                clockSocket.send( JSON.stringify(
                        {text: "Hello World!"}
                ))
            }

            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)
                $('#clock').html('')
                console.log("data:" + data)
                var el = $('<div class="message"><p></p></div>')
                $("p", el).text(event.data)
                $('#clock').append(el)
            };

            clockSocket.onmessage = receiveEvent;


            $("#submitClock").bind('click', function () {
                sendMessage();
            });
        });

</script>


<input type="submit" id="submitClock" value="Save"/>

<div id="clock">

</div>

}